* *::before *::after{
    box-sizing: border-box;
}

.slideshow-container{
    background-image: url("img/showcase.jpg");
    min-height: 1500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
}

nav{
    display: flex;
    position: relative;
    justify-content: flex-end;
    font-family: 'Farro', sans-serif;
    margin:auto;
    font-size: 2rem;
    width:80%;
    padding:20px 0px 0px 0px;
}

nav > *
{
    margin:30px;
    color: black;
    text-decoration: none;
}

.slideshow-flex
{
    display:flex;
}

.slideshow-text
{
    width: 80%;
    font-family: 'Kadwa', serif;
    font-size: 2rem;
    margin: 30px auto auto auto;
    display: none;
}

.show{
    display:block;
}

.next{
    color: white;
    font-size: 4rem;
    text-decoration: none;
    position: relative;
    width:10%;
    align-self: center;
    text-align: center;
    outline: none;
}

.prev{
    color: white;
    font-size: 4rem;
    text-decoration: none;
    position: relative;
    width:10%;
    align-self: center;
    text-align: center;
    outline: none;
}

.next:hover 
{
    color: black;
}

.prev:hover
{
    color: black;
}

.slide-out-right{
    position: relative;
    overflow: hidden;
    -webkit-animation: slide-in 0.5s reverse;
    animation: slide-in 0.5s reverse;
}

.slide-out{
    position: relative;
    overflow: hidden;
    -webkit-animation: slide 0.5s forwards;
    animation: slide 0.5s forwards;
}

@-webkit-keyframes slide{
    0% {left: 0px;}
    100% {left:-100%;}
}

@keyframes slide{
    0% {left: 0px;}
    100% {left:-100%;}
}

.slide-in-left{
    position: relative;
    overflow: hidden;
    -webkit-animation: slide 0.5s reverse;
    animation: slide 0.5s reverse;
}

.slide-in{
    position: relative;
    overflow: hidden;
    -webkit-animation: slide-in 0.5s forwards;
    animation: slide-in 0.5s forwards;
}

@-webkit-keyframes slide-in{
    0% {left:100%;}
    100% {left:0%;}
}

@keyframes slide-in{
    0% {left:100%;}
    100% {left:0%;}
}

.projects
{
    width: 80%;
    min-height: 500px;
    margin: 100px auto auto auto;
    background-color: white;
}