* *::before *::after{
    box-sizing: border-box;
}

.slideshow-container{
    background-image: url("img/showcase.jpg");
    min-height: 1200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 10px;
    /* background-attachment: fixed; */
}

nav{
    display: flex;
    position: relative;
    justify-content: flex-end;
    font-family: 'Farro', sans-serif;
    margin:auto;
    font-size: 2rem;
    width:80%;
    padding:20px 0px 0px 0px;
}

nav > *
{
    margin:30px;
    color: black;
    text-decoration: none;
}

.navbarResponsive{
    display: none;
}

.slideshow-flex
{
    display:flex;
}

.slideshow-text
{
    width: 80%;
    font-family: 'Kadwa', serif;
    font-size: 2rem;
    margin: 30px auto auto auto;
    display: none;
}

.show{
    display:block;
}

.next{
    color: white;
    font-size: 4rem;
    text-decoration: none;
    position: relative;
    width:10%;
    align-self: center;
    text-align: center;
    outline: none;
}

.prev{
    color: white;
    font-size: 4rem;
    text-decoration: none;
    position: relative;
    width:10%;
    align-self: center;
    text-align: center;
    outline: none;
}

.next:hover 
{
    color: black;
}

.prev:hover
{
    color: black;
}

.slide-out-right{
    position: relative;
    overflow: hidden;
    -webkit-animation: slide-in 0.5s reverse;
    animation: slide-in 0.5s reverse;
}

.slide-out{
    position: relative;
    overflow: hidden;
    -webkit-animation: slide 0.5s forwards;
    animation: slide 0.5s forwards;
}

@-webkit-keyframes slide{
    0% {left: 0px;}
    100% {left:-100%;}
}

@keyframes slide{
    0% {left: 0px;}
    100% {left:-100%;}
}

.slide-in-left{
    position: relative;
    overflow: hidden;
    -webkit-animation: slide 0.5s reverse;
    animation: slide 0.5s reverse;
}

.slide-in{
    position: relative;
    overflow: hidden;
    -webkit-animation: slide-in 0.5s forwards;
    animation: slide-in 0.5s forwards;
}

@-webkit-keyframes slide-in{
    0% {left:100%;}
    100% {left:0%;}
}

@keyframes slide-in{
    0% {left:100%;}
    100% {left:0%;}
}

.projects
{
    width: 80%;
    margin: 100px auto auto auto;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
}

.project{
    width:33.3%;
    border: 2px solid black;
    margin:auto;
    text-align: center;
    padding-top: 20px;
    padding-top: 20px;
}

.project p
{
    text-align: justify;
    width:80%;
    margin:10px auto 10px auto;
}

img{
    max-width: 50%;
}

footer{
    background-color: black;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}

footer i{
    color:white;
    margin:20px;
}

@media only screen and (max-width: 800px)
{
    .projects{
        flex-direction: column;
    }

    .project{
        width:100%;
    }

    .slideshow-text{
        width:60%;
        font-size: 1rem;
    }
    .prev,.next{
        width:20%;
    }

    .navbar{
        display:none;
    }

    .navbarResponsive{
        /* display: block; */
        background-color: black;
        height:50px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
  
    .fa-bars
    {
        color:white;
        display:flex;
        justify-content: flex-end;
        margin:20px;
        font-size: 30px;     
    }

    .show{
        display:block;
    }
    
    .notShow{
        display:none;
    }

    .dropdownContents a{
        background-color:white;
        padding:5px;
        text-decoration: none;
        color:inherit;
        text-align: end;
    }
}