*{
	margin:0;
}

.clear{
	clear: both;
}

a
{
	text-decoration:none;
}

body
{
	background-color:white;
	color:black;

	font-family:"EB Garamond",serif;
	font-size:24px;

	line-height:1.6em; 
}

h1
{
	color:white;
	text-align:center;
	margin:auto;
	padding-top:20px;
	padding-bottom:20px;
	font-weight: bold;
	line-height: 1.2em;
}

.title
{
	margin:auto;
	padding:0;
	
	font-family:"PT Serif",serif;
	font-size:40px;
	line-height:1.6em;
	text-align:center;
	
	background-color:green;
	color:rgb(255, 255, 255);
}

.intro
{
	background-image: url(img/showcase.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	max-width: 100%;
	max-height: 100%;
	color:rgb(255, 255, 255);
	padding: 30px 50px 30px 50px;
	text-align: justify;
}

.navbar ul
{
	text-align:right;
	list-style:none;
	background-color: black;
	padding:0;
}

.navbar li
{
	display:inline;	
}

.navbar #home
{
	color:darkorange;
}

.navbar a
{
	color:white;
	padding-right:15px;
}

.navbar a:hover
{
	color:rgb(11, 253, 11);
}

.container
{
	width: 95%;
	height:100%;
	margin:auto;
}

.info
{
	/*white-space: nowrap;*/
	padding-top: 1%;
	padding-bottom: 1%;
	float:left;
}

.info h1
{
	color: black;
	text-align: center;
	text-decoration: underline;
	font-family: 'Pangolin', cursive; 
}

.info p
{
	text-align: justify;
}

.innerIndent
{
	display: inline-block;
	line-height: 1.2em;
}

.innerIndent li
{
	color:black;
	font-family:"EB Garamond",serif;
	font-size:20px;Design such ARMv3 Basic Instruction Set. Minor interest in Security, Game Development and building websites. Hobbies include building my own Personal Computer, Keyboards. 
	text-align: justify;
}

.education
{
	vertical-align: top;
	display: inline-block;
	width:38%;
}

.work
{
	vertical-align: top;
	padding-right: 3%;
	display: inline-block;
	width:38%;
}

.musicPlayer
{
	padding-top:1%;
	padding-left:1%;
	vertical-align: top;
	display: inline-block;
	width:19%;
}

.volumeSlider
{
	font-size: 15px;
	text-align: center;	
}

.volumeSlider h5
{
	font-size: 15px;
	text-align: center;
	text-shadow: 0 0 1px black;
}

.slider
{
	width:100%;
}

.slider::-moz-range-thumb:active
{
	background: black;
	opacity: 2px;
}

.slider::-webkit-slider-thumb
{
	background:green;
}

.slider::-moz-range-thumb
{
	background:white;
	transition: 1s;
	border:1px solid black;
}

.slider::-moz-range-track
{
	border:1px solid black; 
	background:white;
	box-shadow: 2px 2px 1px black;
}

.buttons
{
	display:flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.scButton
{
	width: 32%;
	background-image: linear-gradient(white,black);
	border: 1px solid black;
	box-shadow: 1px 1px 1px black;
	color: white;
	overflow: hidden;
	padding: 0;
}

.footer
{
	background-color:dimgray;
	height: 100px;
	color:white;
}

.icon
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}

.icon > *
{
	padding:20px 20px 10px 20px;
}

.bottom
{
	text-align: center;
	margin:auto;
}

.projects
{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: auto;
	padding-top:10px;
}

.projects h1{
	color: black;
	text-align: center;
	text-decoration: underline;
	font-family: 'Pangolin', cursive;
}

#cardGameImage{
	display: inline-grid;
	margin: auto;
	bottom: 10px;
	top:10px;
	width:60%;
	border:black 1px solid;
}

#cardGameImage2{
	display: inline-grid;
	margin: auto;
	bottom: 10px;
	top:10px;
	width:60%;
	border:black 1px solid;
}

#AES_Architecture{
	display: inline-grid;
	margin: auto;
	bottom: 10px;
	top:10px;
	width:90%;
	border:black 1px solid;
}

.details
{
	display: inline-block;
	line-height: 1.4em;
	padding: 10px 0 40px 10%;
}

.details li
{
	color:black;
	font-family:"EB Garamond",serif;
	font-size:20px;
}

.fa
{
	color:white;	
}

.fa:hover
{
	color:green;	
}

@media all and (max-width:1024px)
{
	.education{
		width:45%;
		margin:auto;
		float:left;
	}

	.work{
		width:45%;
		margin:auto;
		float:right;
	}

	.musicPlayer{
		display:block;
		width:50%;
		float:none;
		margin:auto;
		padding:40px 0 20px 0;
	}
}

@media all and (max-width:700px)
{
	.education{
		display:block;
		width:75%;
		margin:auto;
		float:none;
	}

	.work{
		display:block;
		width:75%;
		margin:auto;
		float:none;
	}

	.projects
	{
		grid-template-columns:1fr;
		grid-template-areas:"header1"
							"cardGameImage"
							"text1"
							"header2"
							"AES_Architecture"
							"text2"
							"header3"
							"cardGameImage2"
							"text3"
	}

	#header1
	{
		grid-area: header1;
	}

	#header2
	{
		grid-area: header2;
	}

	#header3
	{
		grid-area: header3;
	}

	#cardGameImage
	{
		grid-area: cardGameImage;
	}

	#cardGameImage2
	{
		grid-area: cardGameImage2;
	}

	#AES_Architecture
	{
		grid-area: AES_Architecture;
		width:70%;
		margin:auto;
	}

	#text1
	{
		grid-area: text1;
	}

	#text2
	{
		grid-area: text2;
	}

	#text3
	{
		grid-area: text3;
	}
}