*{
	margin:0;
}

.clear{
	clear: both;
}

a
{
	text-decoration:none;
}

body
{
	background-color:white;
	color:black;

	font-family:"EB Garamond",serif;
	font-size:24px;

	line-height:1.6em; 
}

h1
{
	color:white;
	text-align:center;
	margin:auto;
	padding-top:20px;
	padding-bottom:20px;
	font-weight: bold;
}

.title
{
	margin:0;
	padding:0;
	
	font-family:"PT Serif",serif;
	font-size:40px;
	line-height:1.6em;
	text-align:center;
	
	background-color:green;
	color:rgb(255, 255, 255);
}

.intro
{
	background-image: url(img/showcase.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	max-width: 100%;
	max-height: 100%;
	color:rgb(255, 255, 255);
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 2%;
}

.navbar ul
{
	text-align:right;
	list-style:none;
	background-color: black;
	padding:0;
}

.navbar li
{
	display:inline;	
}

.navbar a
{
	color:white;
	padding-right:15px;
}

.navbar a:hover
{
	color:rgb(11, 253, 11);
}

.container
{
	width: 95%;
	height:100%;
	margin:auto;
}

.info
{
	/*white-space: nowrap;*/
	padding-top: 1%;
	padding-bottom: 1%;
	float:left;
}

.info h1
{
	color: black;
	text-align: center;
	text-decoration: underline;
	font-family: 'Pangolin', cursive; 
}

.info p
{
	text-align: justify;
}

.innerIndent
{
	display: inline-block;
	line-height: 1.2em;
}

.innerIndent li
{
	color:black;
	font-family:"EB Garamond",serif;
	font-size:20px;
}

.education
{
	vertical-align: top;
	display: inline-block;
	width:38%;
	/* white-space: normal;*/
}

/* .verticalLine
{
	vertical-align: bottom;
	display: inline-block;
	width:0%;
	height: 300px;
	border: 1px solid black;
	white-space: normal;
} */

.work
{
	vertical-align: top;
	padding-right: 3%;
	display: inline-block;
	width:38%;
	/*white-space: normal;*/
}

.musicPlayer
{
	/* float:right;
	padding-right: 30px;
	line-height: normal; */
	padding-top:1%;
	padding-left:1%;
	vertical-align: top;
	display: inline-block;
	width:19%;
	/*white-space: normal;*/
}

.volumeSlider
{
	font-size: 15px;
	text-align: center;	
}

.volumeSlider h5
{
	font-size: 15px;
	text-align: center;
	text-shadow: 0 0 1px black;
}

.slider
{
	width:100%;
}

.slider::-moz-range-thumb:active
{
	background: black;
	opacity: 2px;
}

.slider::-webkit-slider-thumb
{
	background:green;
}

.slider::-moz-range-thumb
{
	background:white;
	transition: 1s;
	border:1px solid black;
}

.slider::-moz-range-track
{
	border:1px solid black; 
	background:white;
	box-shadow: 2px 2px 1px black;
}

.scButton
{
	width: 30%;
	display: inline-block;
	background-image: linear-gradient(white,black);
	border: 1px solid black;
	box-shadow: 1px 1px 1px black;
	color: white;
	overflow: hidden;
	padding: 0;
	margin-left: 2px;
}

.footer
{
	background-color: green;
}

.projects
{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-auto-rows: auto;
}

.project1
{
	display: inline-grid;
}

.project2
{
	display: inline-grid;
}

.project3
{
	display: inline-grid;
}

.projects h1{
	color: black;
	text-align: center;
	text-decoration: underline;
	font-family: 'Pangolin', cursive;
}

#cardGameImage{
	display: inline-grid;
	margin: auto;
	width:60%;
	border:black 1px solid;
}

@media screen and (max-width:1024px)
{
	.education{
		width:40%;
	}

	.work{
		width:40%;
	}

	.musicPlayer{
		display:block;
		width:50%;
		float:none;
		margin:0 auto;
	}
}

