$primary: black;
$navbar-fonts:'Balsamiq Sans', cursive;
$font-family-base:'Josefin Sans', sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";

.card-header
{
    font-size:1.2rem;
}

.card-footer
{
    min-height: 70px;
}

.navbar
{
    padding:0;
}

.card-img-top
{
    object-fit: cover; 
}

.embed-responsive
{
    min-height: 300px;
}

.navbar-brand
{
    margin-right:0;
    padding-bottom:0;
}

#chiyo_father
{
    width:1.4*70px;
    height:70px;
}

#osaka_san
{
    width:1.8*75px;
    height:75px;
}